.Big{
  display: flex;
  flex-direction: column;
}

.image{
  width: 80px;
  height: 80px;
  border-radius: 50px;
}
.Two{
  display: flex;
  flex-direction: row;
}
.Two-1{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.Two-11{
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.Two-1One{
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.Two-1One >h4{
 position: relative;
 bottom: 20px;
}

.Two-3{
  display: flex;
  flex-direction: column;
}